
        .myborder{
            border-width: 2px;
            border-color: red;
            border-style: dashed;
            padding: 2px;
            margin: 2px;
            border-radius: 5px;
        }
        .myborder1{
            border: 4px dotted brown;
            margin:5px;
        }
        .myborder2{
            border: 3px dashed blueviolet ;
            border-radius: 10px;
            margin: 4px;
        }
        .ok{
            justify-content: left;
        }
